.inteligent-face {
	margin-left:300px;
	margin-top: 100px;
	margin-bottom:200px;
}

.text-input {
    height: 25px;
    width: 250px;
    padding: 12px 20px;
    margin: 8px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    border: none; 
    color: white;
    padding: 14px 16px;
    cursor: pointer;
}

.btn-go {
    border: none; 
    color: white;
    padding: 8px 10px;
    cursor: pointer;
}

.success {
	background-color: #0159a2;
}
.success:hover {
	background-color: #0159a2;
}

.warring {
	background-color: #ff5722;
}

table {
    font-family: inherit;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}